In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel("D:\Downloads\Roll Call SE, TE _ BE Mech AY 2017-18.xlsx")

In [4]:
df

    Roll No.               Name of Student
0          1         AIGALIKAR GIRI SUDHIR
1          2         APALE SAHIL JAYANTRAO
2          3                    ARPIT SHAH
3          4         BANDGAR AKSHAY SAMPAT
4          5         BHUWAD SANKET SANTOSH
..       ...                           ...
59        60    SALUNKE SHUBHAM BHASKARRAO
60        61  WATPADE SHUBHAM DNYANESHWAR
61        62     SWARALI SADASHIV KHADTARE
62        63          YADAV DHANESH TANAJI
63        64    PATIL PULKESHI BHALCHANDRA

[64 rows x 2 columns]

In [5]:
df['Name of Student'] = [i.title() for i in df['Name of Student']]

In [6]:
df.head()

   Roll No.        Name of Student
0         1  Aigalikar Giri Sudhir
1         2  Apale Sahil Jayantrao
2         3             Arpit Shah
3         4  Bandgar Akshay Sampat
4         5  Bhuwad Sanket Santosh

In [7]:
df.to_csv("BE-3.csv")

**SEMESTER ATTENDANCE**

In [6]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def sem_students_attendance(n, start_year, start_date, end_date):

    students = range(n)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Tue Wed Thu Fri', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime('%Y-%m-%d')
    


    attendance_records1 = {}
    
    for student in students:
        attendance_records1[student] = []
        
        for day in date_range:
            attendance_records1[student].append('P' if random.random() < 0.85 else 'A')
                
    df = pd.DataFrame.from_dict(attendance_records1, orient='index', columns=date_range)
    df['Present'] = df.apply(lambda x: x[x == 'P'].count(), axis=1)
    df['Absent'] = df.apply(lambda x: x[x == 'A'].count(), axis=1)
    df['%Att'] = round(df['Present'] / len(date_range) * 100)
     
    return df

In [7]:
d1 = pd.concat([df, sem_students_attendance(64, 2017, '2017-06-15', '2017-09-29')], axis = 1)
d1 = d1.set_index("Roll No.")
d1.to_excel("D:\\Downloads\\New folder\\2017-18\\SEM_I\\SEM_ATT.xlsx")
d1.to_csv("SEM_ATT.csv")

**First Monthly Attendance**

In [8]:
d2 = pd.concat([df,sem_students_attendance(64, 2017, '2017-06-15', '2017-07-15')], axis =1)
d2 = d2.set_index("Roll No.")
#d2.to_excel("D:\\Downloads\\New folder\\2017-18\\SEM_I\\FIRST_ATT.xlsx")
d2.to_csv("FIRST_MONTH_ATT.csv")

**Second Monthly Attendance**

In [9]:
d3 = pd.concat([df,sem_students_attendance(64, 2017,'2017-07-16', '2017-08-16')], axis =1)
d3 = d3.set_index("Roll No.")
#d3.to_excel("D:\\Downloads\\New folder\\2017-18\\SEM_I\\SECOND_ATT.xlsx")
d3.to_csv("SECOND_MONTH_ATT.csv")