In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_excel("D:\\Downloads\\te-3_19_20.xlsx")

In [25]:
df['Name of Students'] = [i.title() for i in df['Name of Students']]

In [26]:
df.head()

   Roll No           Name of Students
0     3301   Adane Rrishikesh Somnath
1     3302    Andhale Nishant Rajaram
2     3303        Ansari Nabeel Riyaz
3     3304  Bhargude Prasad Raghunath
4     3305  Bhimnath Sidharth Narhari

**BATCH A PRACTICAL ATTENDANCE**

In [27]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

def te_students_attendance14(n, start_date, end_date):
    
    students = range(n)
    
    cal = USFederalHolidayCalendar()
    holidays = cal.holidays(start=start_date, end=end_date)
    
    custom_business_day = CustomBusinessDay(weekmask='Thu', holidays=holidays)

    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day)
    
    completion_records1 = {}
    practical_attendance = {}

    for student in students:
        
        completion_records1[student] = []
        practical_attendance[student] = []
        
                
        for day in range(8):
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
        
        for day in range(8):          
            completion_records1[student].append('C' if random.random() < .85 else 'NC')
            
        
    
    
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=range(1,9))
    df31['Present1'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent1'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att1'] = round(df31['Present1'] / 8 * 100,2)
    df21 = pd.DataFrame.from_dict(completion_records1, orient='index', columns=list("ABCDEFGH"))
    df31['EXP1'] = [random.randint(6,10) for i in range(0,n)]
    df31['EXP2'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP3'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP4'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP5'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP6'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP7'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP8'] = np.random.choice(df31['EXP1'], size = n)
    
    
    df = pd.concat([df31, df21], axis = 1)

    return df

In [28]:
batch_a = pd.concat([df[0:20], te_students_attendance14(20, '2019-12-16', '2020-03-30')], axis =1)

In [29]:
#batch_a.to_csv("Batch_A.csv")

**BATCH B PRACTICAL ATTENDANCE**

In [30]:
df.shape

(41, 2)

In [31]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

def te_students_attendance15(n, start_date, end_date):
    
    students = range(20,41)
    
    cal = USFederalHolidayCalendar()
    holidays = cal.holidays(start=start_date, end=end_date)
    
    custom_business_day = CustomBusinessDay(weekmask='Tue', holidays=holidays)

    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day)
    
    completion_records1 = {}
    practical_attendance = {}

    for student in students:
        
        completion_records1[student] = []
        practical_attendance[student] = []
        
                
        for day in range(8):
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
        
        for day in range(8):          
            completion_records1[student].append('C' if random.random() < .85 else 'NC')
            
        
    
    
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=range(1,9))
    df31['Present1'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent1'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att1'] = round(df31['Present1'] / 8 * 100,2)
    df21 = pd.DataFrame.from_dict(completion_records1, orient='index', columns=list("ABCDEFGH"))
    df31['EXP1'] = [random.randint(6,10) for i in range(0,n)]
    df31['EXP2'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP3'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP4'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP5'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP6'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP7'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP8'] = np.random.choice(df31['EXP1'], size = n)
    
    
    df = pd.concat([df31, df21], axis = 1)

    return df

In [32]:
batch_b = pd.concat([df[20:41], te_students_attendance15(21,'2019-12-16', '2020-03-30')], axis =1)

In [36]:
batch_b.to_csv("Batch_B.csv")

In [34]:
batch_a.head()

,Roll No,Name of Students,1,2,3,4,5,6,7,8,...,EXP7,EXP8,A,B,C,D,E,F,G,H
0,3301,Adane Rrishikesh Somnath,P,P,P,P,P,P,P,P,...,7,8,C,C,C,NC,C,C,C,C
1,3302,Andhale Nishant Rajaram,P,P,P,P,P,P,P,P,...,9,8,C,C,NC,C,C,C,C,NC
2,3303,Ansari Nabeel Riyaz,A,P,P,P,P,P,P,P,...,10,8,C,C,C,C,C,C,NC,C
3,3304,Bhargude Prasad Raghunath,P,P,P,P,P,P,P,P,...,9,9,NC,C,C,C,NC,C,C,C
4,3305,Bhimnath Sidharth Narhari,P,P,A,P,P,P,P,P,...,8,7,C,NC,C,C,C,C,C,C

In [35]:
batch_b.head()

,Roll No,Name of Students,1,2,3,4,5,6,7,8,...,EXP7,EXP8,A,B,C,D,E,F,G,H
20,3322,Lokhande Mayur Malibhau,P,P,A,P,P,P,P,P,...,7,7,NC,C,NC,C,C,C,C,C
21,3324,Mali Harish Vinod,A,P,P,P,P,P,P,P,...,6,7,C,C,NC,C,NC,C,C,C
22,3325,Mali Suraj Balasaheb,P,P,P,P,P,P,A,P,...,10,9,C,NC,C,C,C,C,NC,C
23,3326,Darshan Mahendra Raundhale,P,P,P,P,A,A,P,P,...,7,9,C,NC,NC,C,C,C,C,C
24,3327,Nirmal Siddhesh Sandeep,P,P,P,P,P,P,P,P,...,6,7,C,NC,C,NC,C,NC,C,C

In [37]:
batch_b.tail()

,Roll No,Name of Students,1,2,3,4,5,6,7,8,...,EXP7,EXP8,A,B,C,D,E,F,G,H
36,3342,Deshmukh Shailesh Sundarrao,P,P,P,P,P,P,P,A,...,6,8,C,C,NC,C,C,C,C,C
37,3343,Siddhesh Sanjay Dhumal,P,P,P,P,P,P,P,P,...,6,9,C,C,C,C,C,C,NC,C
38,3344,Dumbre Abhishek Namdev,P,A,P,P,P,P,P,P,...,9,8,C,C,C,C,C,C,C,C
39,3345,Nilay Premanand Ambade,P,P,P,A,P,P,P,P,...,9,6,C,C,C,C,C,C,C,C
40,3346,Sagar Bapurao Rajpure,P,P,P,P,P,P,P,P,...,10,6,C,C,C,C,C,C,C,C