In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("D:\\Attendance\\2019-20\\SEM_II\\Theory\\TE-2\\TE-2[19-120].csv")

In [3]:
df.columns

Index(['Unnamed: 0', 'Roll No', 'Name of Students'], dtype='object')

In [4]:
df = df.drop('Unnamed: 0', axis = 1)

In [5]:
df

    Roll No               Name of Students
0      3201         Kshirsagar Rohan Umesh
1      3202  Kshirsagar Saurabh Bhaskarrao
2      3203        Kulkarni Chinmay Sudhir
3      3204       Kulkarni Vedant Shrikant
4      3205          Kumkar Yadnesh Vishnu
..      ...                            ...
59     3268       Chintamani Harsh Santosh
60     3269     Lawate Shashikant Muktaram
61     3270          Abhishek Sunil Labade
62     3271                  Karishma Shah
63     3272                    Vasu Zutshi

[64 rows x 2 columns]

In [6]:
df.head()

   Roll No               Name of Students
0     3201         Kshirsagar Rohan Umesh
1     3202  Kshirsagar Saurabh Bhaskarrao
2     3203        Kulkarni Chinmay Sudhir
3     3204       Kulkarni Vedant Shrikant
4     3205          Kumkar Yadnesh Vishnu

**BATCH A PRACTICAL ATTENDANCE**

In [7]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

def te_students_attendance21(n, start_date, end_date):
    
    students = range(n)
    
    cal = USFederalHolidayCalendar()
    holidays = cal.holidays(start=start_date, end=end_date)
    
    custom_business_day = CustomBusinessDay(weekmask='Fri', holidays=holidays)

    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day)
    
    completion_records1 = {}
    practical_attendance = {}

    for student in students:
        
        completion_records1[student] = []
        practical_attendance[student] = []
        
                
        for day in range(8):
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
        
        for day in range(8):          
            completion_records1[student].append('C' if random.random() < .85 else 'NC')
            
        
    
    
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=range(1,9))
    df31['Present1'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent1'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att1'] = round(df31['Present1'] / 8 * 100,2)
    df21 = pd.DataFrame.from_dict(completion_records1, orient='index', columns=list("ABCDEFGH"))
    df31['EXP1'] = [random.randint(6,10) for i in range(0,n)]
    df31['EXP2'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP3'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP4'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP5'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP6'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP7'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP8'] = np.random.choice(df31['EXP1'], size = n)
    
    
    df = pd.concat([df31, df21], axis = 1)

    return df

In [8]:
batch_a = pd.concat([df[:20], te_students_attendance21(20, '2019-12-19', '2020-03-30')], axis = 1)

In [9]:
batch_a

,Roll No,Name of Students,1,2,3,4,5,6,7,8,...,EXP7,EXP8,A,B,C,D,E,F,G,H
0,3201,Kshirsagar Rohan Umesh,P,P,P,P,P,P,P,P,...,8,8,C,C,C,C,C,NC,C,C
1,3202,Kshirsagar Saurabh Bhaskarrao,P,P,A,P,P,P,A,P,...,7,9,C,C,C,C,C,C,C,C
2,3203,Kulkarni Chinmay Sudhir,P,P,P,P,A,P,P,P,...,8,8,NC,C,C,C,C,C,C,C
3,3204,Kulkarni Vedant Shrikant,P,P,P,P,P,P,P,A,...,8,9,NC,NC,NC,C,C,C,C,C
4,3205,Kumkar Yadnesh Vishnu,P,P,P,P,P,P,P,P,...,10,10,C,C,C,C,NC,NC,NC,C
5,3206,Late Himanshu Ramesh,P,P,P,P,P,P,P,A,...,7,8,C,C,C,NC,C,C,C,NC
6,3207,Lohot Yogesh Devidas,P,P,P,P,P,P,A,P,...,10,8,C,NC,C,NC,C,C,C,NC
7,3208,Lonkar Soham Sanjay,P,P,P,P,P,P,P,P,...,8,10,C,C,C,C,C,C,C,C
8,3209,Kalaskar Abhishek Balasaheb,P,P,P,P,P,P,P,P,...,6,8,C,NC,C,C,C,C,C,C
9,3210,Mahajan Vedansh Ramkrishna,P,P,P,P,P,P,P,P,...,9,10,C,NC,C,C,C,C,C,C
10,3211,Mahamuni Arjun Sanjiv,P,P,P,P,P,A,P,P,...,7,7,C,C,NC,C,C,C,C,C
11,3212,Mali Kalpesh Rajesh,P,P,P,P,P,P,P,P,...,8,8,C,NC,C,C,C,C,C,C
12,3213,Mali Nikhil Pandurang,P,A,P,P,P,P,P,P,...,8,8,C,C,C,C,C,NC,NC,C
13,3215,Mhaske Aditya Dattatraya,A,P,P,P,P,A,P,A,...,8,8,C,C,C,C,C,C,C,C
14,3216,Nage Rohit Ravindra,A,P,A,P,P,P,P,P,...,10,9,C,C,C,C,NC,C,C,C
15,3217,Gorave Rushikesh Kalidas,A,P,P,P,P,P,P,P,...,8,9,NC,C,C,C,C,C,C,C
16,3218,Nimbalkar Shrihari Vilas,P,A,P,P,P,P,A,P,...,6,7,C,C,C,C,NC,C,C,C
17,3219,Panchal Mukesh Govind,P,P,P,P,P,A,A,P,...,10,9,C,C,C,C,C,NC,C,C
18,3220,Pandav Ashishkumar Laxman,P,P,P,P,A,P,A,P,...,10,8,C,C,C,C,C,C,C,C
19,3221,Patil Akshay Dattatraya,P,P,P,P,P,P,P,P,...,8,9,C,C,C,C,C,C,C,C

In [10]:
batch_a.to_csv("Batch_A.csv")

**BATCH B PRACTICAL ATTENDENCE**

In [11]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

def te_students_attendance22(n, start_date, end_date):
    
    students = range(20, 40)
    
    cal = USFederalHolidayCalendar()
    holidays = cal.holidays(start=start_date, end=end_date)
    
    custom_business_day = CustomBusinessDay(weekmask='Wed', holidays=holidays)

    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day)
    
    completion_records1 = {}
    practical_attendance = {}

    for student in students:
        
        completion_records1[student] = []
        practical_attendance[student] = []
        
                
        for day in range(8):
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
        
        for day in range(8):          
            completion_records1[student].append('C' if random.random() < .85 else 'NC')
            
        
    
    
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=range(1,9))
    df31['Present1'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent1'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att1'] = round(df31['Present1'] / 8 * 100,2)
    df21 = pd.DataFrame.from_dict(completion_records1, orient='index', columns=list("ABCDEFGH"))
    df31['EXP1'] = [random.randint(6,10) for i in range(0,n)]
    df31['EXP2'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP3'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP4'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP5'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP6'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP7'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP8'] = np.random.choice(df31['EXP1'], size = n)
    
    
    df = pd.concat([df31, df21], axis = 1)

    return df

In [12]:
batch_b = pd.concat([df[20:40], te_students_attendance22(20, '2019-12-16', '2020-03-30')], axis = 1)

In [13]:
batch_b.head()

,Roll No,Name of Students,1,2,3,4,5,6,7,8,...,EXP7,EXP8,A,B,C,D,E,F,G,H
20,3223,Patil Piyush Pratap,P,P,P,P,P,A,P,P,...,9,6,C,C,C,C,C,C,C,C
21,3225,Pawar Nilesh Anil,P,P,P,P,P,P,P,P,...,10,6,C,C,NC,C,C,C,C,C
22,3226,Ashish Vilas Ghodke,P,P,A,P,A,P,P,P,...,10,7,C,C,C,C,C,NC,C,C
23,3227,Prathamesh Tukaram Bhor,P,P,P,P,P,P,P,P,...,10,9,NC,C,C,C,C,C,C,C
24,3228,Rakshit Ranu,P,P,P,P,P,P,P,P,...,10,10,C,C,C,C,C,C,C,C

In [14]:
batch_b.to_csv("Batch_B.csv")

**BATCH C PRACTICAL ATTENDANCE**

In [15]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

def te_students_attendance23(n, start_date, end_date):
    
    students = range(40,64)
    
    cal = USFederalHolidayCalendar()
    holidays = cal.holidays(start=start_date, end=end_date)
    
    custom_business_day = CustomBusinessDay(weekmask='Mon', holidays=holidays)

    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day)
    
    completion_records1 = {}
    practical_attendance = {}

    for student in students:
        
        completion_records1[student] = []
        practical_attendance[student] = []
        
                
        for day in range(8):
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
        
        for day in range(8):          
            completion_records1[student].append('C' if random.random() < .85 else 'NC')
            
        
    
    
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=range(1,9))
    df31['Present1'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent1'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att1'] = round(df31['Present1'] / 8 * 100,2)
    df21 = pd.DataFrame.from_dict(completion_records1, orient='index', columns=list("ABCDEFGH"))
    df31['EXP1'] = [random.randint(6,10) for i in range(0,n)]
    df31['EXP2'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP3'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP4'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP5'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP6'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP7'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP8'] = np.random.choice(df31['EXP1'], size = n)
    
    
    df = pd.concat([df31, df21], axis = 1)

    return df

In [16]:
batch_c = pd.concat([df[40:64], te_students_attendance23(24, '2019-12-16', '2020-03-30')], axis = 1)

In [17]:
batch_c.to_csv("Batch_C.csv")