In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("D:\\Attendance\\2019-20\\SEM_II\\Theory\\TE-2\\TE-2[19-120].csv")

In [3]:
df.columns

Index(['Unnamed: 0', 'Roll No', 'Name of Students'], dtype='object')

In [4]:
df = df.drop('Unnamed: 0', axis = 1)

In [5]:
df

    Roll No               Name of Students
0      3201         Kshirsagar Rohan Umesh
1      3202  Kshirsagar Saurabh Bhaskarrao
2      3203        Kulkarni Chinmay Sudhir
3      3204       Kulkarni Vedant Shrikant
4      3205          Kumkar Yadnesh Vishnu
..      ...                            ...
59     3268       Chintamani Harsh Santosh
60     3269     Lawate Shashikant Muktaram
61     3270          Abhishek Sunil Labade
62     3271                  Karishma Shah
63     3272                    Vasu Zutshi

[64 rows x 2 columns]

In [6]:
df.head()

   Roll No               Name of Students
0     3201         Kshirsagar Rohan Umesh
1     3202  Kshirsagar Saurabh Bhaskarrao
2     3203        Kulkarni Chinmay Sudhir
3     3204       Kulkarni Vedant Shrikant
4     3205          Kumkar Yadnesh Vishnu

**BATCH A PRACTICAL ATTENDANCE**

In [7]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def lab_students_att_a(n, start_year, start_date, end_date):
    
    students = range(n)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+1])

    custom_business_day = CustomBusinessDay(weekmask='Fri', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [11]:
d_a = pd.concat([df[:20], lab_students_att_a(20,2019, '2019-12-19', '2020-03-30')], axis = 1)
d_a = d_a.set_index("Roll No")
d_a.to_excel("D:\\Downloads\\New folder\\2019-20\\SEM_II\\BATCH_A.xlsx")
d_a.to_csv("BATCH_A.csv")

**BATCH B PRACTICAL ATTENDENCE**

In [17]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def lab_students_att_b(n, start_year, start_date, end_date):
    
    students = range(20,40)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+1])

    custom_business_day = CustomBusinessDay(weekmask='Wed', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [20]:
d_b = pd.concat([df[20:40], lab_students_att_b(20, 2019, '2019-12-16', '2020-03-30')], axis = 1)
d_b = d_b.set_index("Roll No")
d_b.to_excel("D:\\Downloads\\New folder\\2019-20\\SEM_II\\BATCH_B.xlsx")
d_b.to_csv("BATCH_B.csv")

**BATCH C PRACTICAL ATTENDANCE**

In [24]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def lab_students_att_c(n, start_year, start_date, end_date):
    
    students = range(40,64)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+1])

    custom_business_day = CustomBusinessDay(weekmask='Mon', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [26]:
d_c = pd.concat([df[40:64], lab_students_att_c(24,2019,'2019-12-16', '2020-03-30')], axis = 1)
d_c = d_c.set_index("Roll No")
d_c.to_excel("D:\\Downloads\\New folder\\2019-20\\SEM_II\\BATCH_C.xlsx")
d_c.to_csv("BATCH_C.csv")