In [19]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv("D:\Attendance\\2021-22\\ROLLCALL\\TE-1.csv")
df.head()

   Unnamed: 0  Roll No         Name of Student
0           0     3101  Bayaskar Tanmay Pramod
1           1     3102  Iratkar Prajwal Sanjay
2           2     3103  Metkari Swapnil Tanaji
3           3     3104  Yadav Pranjal Raja Ram
4           4     3105   Siddharth Vikas Kirad

In [21]:
df= df.drop('Unnamed: 0', axis =1)

In [22]:
df.head()

   Roll No         Name of Student
0     3101  Bayaskar Tanmay Pramod
1     3102  Iratkar Prajwal Sanjay
2     3103  Metkari Swapnil Tanaji
3     3104  Yadav Pranjal Raja Ram
4     3105   Siddharth Vikas Kirad

In [23]:
df.shape

(62, 2)

**BATCH A PRACTICAL ATTENDANCE**

In [24]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def lab_students_att_a(n, start_year, start_date, end_date):
    
    students = range(n)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Tue', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [25]:
d1 = pd.concat([df[:20], lab_students_att_a(20, 2022, '2022-01-22', '2022-04-22')],axis=1)
d1 = d1.set_index("Roll No")
d1.to_excel("D:\\Downloads\\New folder\\2021-22\\SEM_II\\BATCH_A.xlsx")
d1.to_csv("BATCH_A_.csv")

**BATCH B PRACTICAL ATTENDNACE**

In [26]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def lab_students_att_b(n, start_year, start_date, end_date):
    
    students = range(20, 40)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Mon', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [27]:
d2 = pd.concat([df[20:40], lab_students_att_b(20, 2022, '2022-01-22', '2022-04-22')],axis=1)
d2 = d2.set_index("Roll No")
d2.to_excel("D:\\Downloads\\New folder\\2021-22\\SEM_II\\BATCH_B.xlsx")
d2.to_csv("BATCH_B.csv")

**BATCH C PRACTICAL ATTENDNACE**

In [38]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def lab_students_att_c(n, start_year, start_date, end_date):
    
    students = range(40,62)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Fri', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [39]:
d3 = pd.concat([df[40:62], lab_students_att_c(22, 2022, '2022-01-22', '2022-04-22')],axis=1)
d3 = d3.set_index("Roll No")
d3.to_excel("D:\\Downloads\\New folder\\2021-22\\SEM_II\\BATCH_C.xlsx")
d3.to_csv("BATCH_C.csv")