In [1]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_excel("D:\\Downloads\\New folder\\2021-22\\TE_I.xlsx")

In [25]:
df

    Roll No               Name of Student
0      3101        BAYASKAR TANMAY PRAMOD
1      3102        IRATKAR PRAJWAL SANJAY
2      3103        METKARI SWAPNIL TANAJI
3      3104        YADAV PRANJAL RAJA RAM
4      3105         SIDDHARTH VIKAS KIRAD
..      ...                           ...
57     3158          KALWADE ROHAN PRAVIN
58     3159     JADHAV PRATIK CHANDRAKANT
59     3160             SHINDE TEJAS ANIL
60     3161   KSHIRSAGAR SANDESH MADHUKAR
61     3162  SHINDE PRADNYA RAJENDRAKUMAR

[62 rows x 2 columns]

In [26]:
df['Name of Student'] = [i.title() for i in df['Name of Student']]

In [27]:
df.head()

   Roll No         Name of Student
0     3101  Bayaskar Tanmay Pramod
1     3102  Iratkar Prajwal Sanjay
2     3103  Metkari Swapnil Tanaji
3     3104  Yadav Pranjal Raja Ram
4     3105   Siddharth Vikas Kirad

In [28]:
df.shape

(62, 2)

In [ ]:
df.to_csv("TE-1.csv")

**SEMESTER ATTENDANCE**

In [29]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def sem_students_attendance(n, start_year, start_date, end_date):

    students = range(n)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Mon Tue Fri', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime('%Y-%m-%d')
    


    attendance_records1 = {}
    
    for student in students:
        attendance_records1[student] = []
        
        for day in date_range:
            attendance_records1[student].append('P' if random.random() < 0.85 else 'A')
                
    df = pd.DataFrame.from_dict(attendance_records1, orient='index', columns=date_range)
    df['Present'] = df.apply(lambda x: x[x == 'P'].count(), axis=1)
    df['Absent'] = df.apply(lambda x: x[x == 'A'].count(), axis=1)
    df['%Att'] = round(df['Present'] / len(date_range) * 100)
     
    return df

In [30]:
d1 = pd.concat([df, sem_students_attendance(62, 2022,'2022-01-03', '2022-04-26')], axis = 1)
d1 = d1.set_index("Roll No")
d1.to_excel("D:\\Downloads\\New folder\\2021-22\\SEM_II\\SEM_ATT.xlsx")
d1.to_csv("SEM_ATT.csv")

**FIRST MONTH ATTENDANCE**

In [31]:
d2 = pd.concat([df, sem_students_attendance(62, 2022,'2022-01-03', '2022-02-03')], axis = 1)
d2 = d2.set_index("Roll No")
d2.to_excel("D:\\Downloads\\New folder\\2021-22\\SEM_II\\FIRST_MONTH_ATT.xlsx")
d2.to_csv("FIRST_MONTH_ATT.csv")

**SECOND MONTH ATTENDANCE**

In [32]:
d3 = pd.concat([df, sem_students_attendance(62, 2022,'2022-02-04', '2022-03-04')], axis = 1)
d3 = d3.set_index("Roll No")
d3.to_excel("D:\\Downloads\\New folder\\2021-22\\SEM_II\\SECOND_MONTH_ATT.xlsx")
d3.to_csv("SECOND_MONTH_ATT.csv")