In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("D:\Downloads\Roll Call SE, TE _ BE Mech AY 2020-21 (1).xlsx")

In [3]:
df['Name of Student'] = [i.title() for i in df['Name of Student']]

In [4]:
df.head()

   Roll No                Name of Student
0     4201         Kshirsagar Rohan Umesh
1     4202  Kshirsagar Saurabh Bhaskarrao
2     4203        Kulkarni Chinmay Sudhir
3     4204       Kulkarni Vedant Shrikant
4     4205          Kumkar Yadnesh Vishnu

In [6]:
df.shape

(65, 2)

In [5]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def lab_students_att_a(n, start_year, start_date, end_date):
    
    students = range(n)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Tue', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [8]:
d_a = pd.concat([df, lab_students_att_a(65, 2021, '2021-06-21', '2021-11-30')], axis = 1)
d_a = d_a.set_index("Roll No")
d_a.to_excel("D:\\Downloads\\New folder\\2020-21\\SEM_I\\BATCH_A.xlsx")
d_a.to_csv("BATCH_A.csv")