In [35]:
import numpy as np
import pandas as pd

In [36]:
df = pd.read_excel("D:\\Downloads\\te-2_19_20.xlsx")
df

    Roll No               Name of Students
0      3201         Kshirsagar Rohan Umesh
1      3202  Kshirsagar Saurabh Bhaskarrao
2      3203        Kulkarni Chinmay Sudhir
3      3204       Kulkarni Vedant Shrikant
4      3205          Kumkar Yadnesh Vishnu
..      ...                            ...
59     3268       Chintamani Harsh Santosh
60     3269     Lawate Shashikant Muktaram
61     3270          Abhishek Sunil Labade
62     3271                  Karishma Shah
63     3272                    Vasu Zutshi

[64 rows x 2 columns]

In [37]:
#df = df.set_index('Roll No')

In [38]:
df['Name of Students'] = [i.title() for i in df['Name of Students'] ]

In [39]:
df.head()

   Roll No               Name of Students
0     3201         Kshirsagar Rohan Umesh
1     3202  Kshirsagar Saurabh Bhaskarrao
2     3203        Kulkarni Chinmay Sudhir
3     3204       Kulkarni Vedant Shrikant
4     3205          Kumkar Yadnesh Vishnu

In [40]:
df.to_csv("TE-2[19-120].csv")

In [41]:
df.shape

(64, 2)

**SEMESTER ATTENDANCE**

In [42]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

def te_students_attendance13(n, start_date, end_date):
    
    students = range(n)
    
    cal = USFederalHolidayCalendar()
    holidays = cal.holidays(start=start_date, end=end_date)
    
    custom_business_day = CustomBusinessDay(weekmask='Mon Tue Thu Fri', holidays=holidays)

    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day)
    
    attendance_records1 = {}
    
    for student in students:
        attendance_records1[student] = []
        
        for day in date_range:
            attendance_records1[student].append('P' if random.random() < 0.85 else 'A')
                
    df = pd.DataFrame.from_dict(attendance_records1, orient='index', columns=date_range)
    df['Present'] = df.apply(lambda x: x[x == 'P'].count(), axis=1)
    df['Absent'] = df.apply(lambda x: x[x == 'A'].count(), axis=1)
    df['%Att'] = round(df['Present'] / len(date_range) * 100,2)
    df['UT1'] = [random.randint(10,30) for i in range(0,n)]
    df['PREL'] = [random.randint(26, 65) for i in range(0, n)]
     
    return df

In [43]:
sem_att = pd.concat([df, te_students_attendance13(64, '2019-12-19', '2020-03-30')], axis = 1)

In [44]:
sem_att.to_csv("Sem_Att.csv")

**FIRST MONTH ATTENDANCE**

In [45]:
month_1 = pd.concat([df, te_students_attendance13(64, '2019-12-19', '2020-01-19')], axis = 1)
month_1.to_csv("First_Month_Att.csv")

**SECOND MONTH ATTENDANCE**

In [46]:
month_2 = pd.concat([df, te_students_attendance13(64, '2020-01-20', '2020-02-20')], axis = 1)
month_2.to_csv("Second_Month_Att.csv")