In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel("D:\Downloads\AY 2020-21.xlsx")

In [3]:
df1

    Roll No              Name of Student
0      3301       Liman Abhijeet Shivaji
1      3302      Adlinge Akshay Hanamant
2      3303        Awasare Rohan Krishna
3      3304        Bachal Shubham Vishal
4      3305            Bagul Akash Jagan
..      ...                          ...
75     3376          Pawar Shyam Shivaji
76     3377  Zudape Sudarshan Ramchandra
77     3378           Lakhan Ajit Londhe
78     3379        Rigved Deepak Rajukar
79     3380         Onkar Dilip Kardiwal

[80 rows x 2 columns]

**SEMESTERWISE ATTENDANCE**

In [4]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def sem_students_attendance(n, start_year, start_date, end_date):

    students = range(n)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Mon Tue Thu Fri', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime('%Y-%m-%d')
    


    attendance_records1 = {}
    
    for student in students:
        attendance_records1[student] = []
        
        for day in date_range:
            attendance_records1[student].append('P' if random.random() < 0.85 else 'A')
                
    df = pd.DataFrame.from_dict(attendance_records1, orient='index', columns=date_range)
    df['Present'] = df.apply(lambda x: x[x == 'P'].count(), axis=1)
    df['Absent'] = df.apply(lambda x: x[x == 'A'].count(), axis=1)
    df['%Att'] = round(df['Present'] / len(date_range) * 100)
     
    return df

In [7]:
d1 = pd.concat([df1, sem_students_attendance(df1.shape[0], 2021, '2021-02-08', '2021-05-15')],axis=1)
d1 = d1.set_index("Roll No")
d1.to_excel("D:\\Downloads\\New folder\\2020-21\\SEM_II\\SEM_ATT.xlsx")
d1.to_csv("SEM_ATT.csv")

**FIRST MONTH ATTENDANCE**

In [9]:
d2 = pd.concat([df1, sem_students_attendance(df1.shape[0], 2021, '2021-02-08', '2021-03-08')],axis=1)
d2 = d2.set_index("Roll No")
d2.to_excel("D:\\Downloads\\New folder\\2020-21\\SEM_II\\FIRST_MONTH_ATT.xlsx")
d2.to_csv("FIRST_MONTH_ATT.csv")

**SECOND MONTH ATTENDANCE**

In [11]:
d3 = pd.concat([df1, sem_students_attendance(df1.shape[0], 2021, '2021-03-09', '2021-04-09')],axis=1)
d3 = d3.set_index("Roll No")
d3.to_excel("D:\\Downloads\\New folder\\2020-21\\SEM_II\\SECOND_MONTH_ATT.xlsx")
d3.to_csv("SECOND_MONTH_ATT.csv")