In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel("D:\Downloads\Roll Call SE, TE _ BE Mech AY 2018-19.xlsx")
df

    ROLL NO                NAME OF STUDENTS
0         1            ADALINGE SAGAR BANDU
1         2            ANANDE PRITHVI ANANT
2         3          AWARI PRATIK BALASAHEB
3         4          BAKAL GAURI KRUSHNARAO
4         5             BANKAR VISHAL UTTAM
5         6             BHOSALE OMKAR VIKAS
6         7           CHINCHOLE SHITAL NANA
7         8          DEVALE SHAMRAO BABURAO
8         9    DHAYARKAR NIKHIL CHANDRABHAN
9        10        GHADAGE AISHWARYA MANAJI
10       11          GONDKAR SHUBHAM ARVIND
11       12             GUND AJIT BHAUSAHEB
12       13            JADHAV MAYANK PRAVIN
13       14       JADHAV PRIYANKA PANDURANG
14       15         JALKUMARBACHUBHAI VASHI
15       16         KHAIRNAR PRASAD PRADHAN
16       17  KHAN MEHANDI HASAN HAFEEZ KHAN
17       18               KOLSE SAHIL ASHOK
18       19        LOKHANDE NILESH MAHENDRA
19       20             MANKE UJJWAL RAJESH
20       21              MALI PAWAN SHRIRAM
21       22      MADAKE RAMPRASAD BALASAHEB
22       23               MOGHE AMEYA SUNIL
23       24             NADKARNI MANGESH NA
24       25           OMBASE ANIKET AVINASH
25       26        PISAL SHUBHAM SHASHIKANT
26       27          PATIL MANISH NADKISHOR
27       28            RASAL SOURABH SANJAY
28       29    SHELGAONKAR VIRAJ VIJAYKUMAR
29       30           SHINDE SAGAR RAVINDRA
30       31           SHEDAGE AVADHUT VIJAY
31       32        SOMWANSHI SOURABH SANJAY
32       33        SONAWANE SHIVAM MAHENDRA
33       34       SOMVANSHI SWAPNIL BABURAO
34       35              TODKAR SAGAR VIJAY
35       36      WAGASKAR SUYOG CHANDRAKANT
36       37           WAGH MANGESH KAMLAKAR
37       38              MANE KIRAN PRALHAD
38       39      KAMBLE RUSHIKESH KHANDERAO
39       40       JADHAV ASHWAMEDH YALLAPPA
40       41           GAWHANDE VIVEK SANJAY
41       42            DHUMAL ADITYA SANJAY
42       43            BAKSHE GAVRAV DEELIP
43       44              RATHOD VIVEK VILAS
44       45           BHAT PRACHI BALASAHEB
45       46      NARKHEDE DIMPAL SUNIL (PA)
46       47               PATEL JAYESH HARI
47       48          PAWAR SAURABH SHRIKANT
48       49           ADHAT SAURABH KAILASH
49       50             SHAH GAURISH MILIND
50       51         CHAUDHARI ANURAG SANDIP
51       52          MOTIWALE SUMIT SOMNATH
52       53       HASEGAONKAR ATHARV RAMESH
53       54         KHANDEKAR AKSHAY VIDISH

In [4]:
df['NAME OF STUDENTS'] = [i.title() for i in df['NAME OF STUDENTS']]

In [5]:
df.head()

   ROLL NO        NAME OF STUDENTS
0        1    Adalinge Sagar Bandu
1        2    Anande Prithvi Anant
2        3  Awari Pratik Balasaheb
3        4  Bakal Gauri Krushnarao
4        5     Bankar Vishal Uttam

In [6]:
df.shape

(54, 2)

In [6]:
df.to_csv("roll_call.csv")

**SEMESTER THEORY ATTENDANCE**

In [7]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

def te_students_attendance41(n, start_date, end_date):
    
    students = range(n)
    
    cal = USFederalHolidayCalendar()
    holidays = cal.holidays(start=start_date, end=end_date)
    
    custom_business_day = CustomBusinessDay(weekmask='Tue Thu Fri', holidays=holidays)

    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day)
    
    attendance_records1 = {}
    
    for student in students:
        attendance_records1[student] = []
        
        for day in date_range:
            attendance_records1[student].append('P' if random.random() < 0.85 else 'A')
                
    df = pd.DataFrame.from_dict(attendance_records1, orient='index', columns=date_range)
    df['Present'] = df.apply(lambda x: x[x == 'P'].count(), axis=1)
    df['Absent'] = df.apply(lambda x: x[x == 'A'].count(), axis=1)
    df['%Att'] = round(df['Present'] / len(date_range) * 100,2)
    df['UT1'] = [random.randint(10,30) for i in range(0,n)]
    df['PREL'] = [random.randint(26, 65) for i in range(0, n)]
     
    return df

In [8]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def sem_students_attendance(n, start_year, start_date, end_date):

    students = range(n)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Tue Thu Fri', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime('%Y-%m-%d')
    


    attendance_records1 = {}
    
    for student in students:
        attendance_records1[student] = []
        
        for day in date_range:
            attendance_records1[student].append('P' if random.random() < 0.85 else 'A')
                
    df = pd.DataFrame.from_dict(attendance_records1, orient='index', columns=date_range)
    df['Present'] = df.apply(lambda x: x[x == 'P'].count(), axis=1)
    df['Absent'] = df.apply(lambda x: x[x == 'A'].count(), axis=1)
    df['%Att'] = round(df['Present'] / len(date_range) * 100)
     
    return df

In [12]:
d1 = pd.concat([df, sem_students_attendance(54, 2018,'2018-06-18', '2018-10-05')], axis = 1)
d1 = d1.set_index("ROLL NO")
d1.to_excel("D:\\Downloads\\New folder\\2018-19\\SEM_I\\SEM_ATT.xlsx")
d1.to_csv("SEM_ATT.csv")

**FIRST MONTHLY ATTENDANCE**

In [14]:
d2 = pd.concat([df, sem_students_attendance(54, 2018,'2018-06-18', '2018-07-18')], axis = 1)
d2 = d2.set_index("ROLL NO")
d2.to_excel("D:\\Downloads\\New folder\\2018-19\\SEM_I\\FIRST_MONTH_ATT.xlsx")
d2.to_csv("FIRST_MONTH_ATT.csv")

**SECOND MONTH THEORY ATTENDANCE**

In [15]:
d3 = pd.concat([df, sem_students_attendance(54, 2018,'2018-07-19', '2018-08-19')], axis = 1)
d3 = d3.set_index("ROLL NO")
d3.to_excel("D:\\Downloads\\New folder\\2018-19\\SEM_I\\SECOND_MONTH_ATT.xlsx")
d3.to_csv("SECOND_MONTH_ATT.csv")