In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_excel("D:\\Downloads\\New folder\\2022-23\\TE-3.xlsx")
df

   Roll No               Name of Student
0    T5001                   AMAN GOVIND
1    T5002      BARVE HARSHVARDHAN VIJAY
2    T5003    BHOSALE HARSHAD RAMCHANDRA
3    T5004  DESHMUKH ABHISHEK SUBHASHRAO
4    T5005     DHAMALE PIYUSH SHIVAJIRAO
5    T5006          GHULE GAURAV SANDEEP
6    T5007         GORHE SWAMIRAJ RAMESH
7    T5008     GOSAVI DURVANGEE SADANAND
8    T5009            INAMDAR AMAAN AMIR
9    T5010    JAMBHALE PRATHAMESH SANJAY
10   T5011            KADAM OMKAR RAJESH
11   T5012       KULKARNI ADITYA SHIVRAM
12   T5013          KUTWADE VAIBHAV ANIL
13   T5014    PARTH RAGHUNATH SAWARDEKAR
14   T5015    PHULSUNDAR PIYUSH MAHENDRA
15   T5016       QURESHI MOINUDDIN YUNUS
16   T5017        SANKET SHARAD SATYAPAL
17   T5018          SARAF SHREYAS SANDIP
18   T5019      SONAVANE YASHODHAN VIKAS
19   T5020          THUBE PRAJWAL VASANT
20   T5021         VANJARI VAIBHAV VINOD
21   T5022           WAKODE AMOL MUKUNDA
22   T5023          WANI ASHOK RAMESHWAR

In [8]:
df['Name of Student'] = [i.title() for i in df['Name of Student']]

In [9]:
df.head()

  Roll No               Name of Student
0   T5001                   Aman Govind
1   T5002      Barve Harshvardhan Vijay
2   T5003    Bhosale Harshad Ramchandra
3   T5004  Deshmukh Abhishek Subhashrao
4   T5005     Dhamale Piyush Shivajirao

In [10]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def sem_students_attendance(n, start_year, start_date, end_date):

    students = range(n)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Mon Tue Wed Thu', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime('%Y-%m-%d')
    


    attendance_records1 = {}
    
    for student in students:
        attendance_records1[student] = []
        
        for day in date_range:
            attendance_records1[student].append('P' if random.random() < 0.85 else 'A')
                
    df = pd.DataFrame.from_dict(attendance_records1, orient='index', columns=date_range)
    df['Present'] = df.apply(lambda x: x[x == 'P'].count(), axis=1)
    df['Absent'] = df.apply(lambda x: x[x == 'A'].count(), axis=1)
    df['%Att'] = round(df['Present'] / len(date_range) * 100)
     
    return df

In [12]:
sem_students_attendance(df.shape[0], 2022, '2022-08-01', '2022-10-13')

,2022-08-01,2022-08-02,2022-08-03,2022-08-04,2022-08-09,2022-08-10,2022-08-11,2022-08-16,2022-08-17,2022-08-18,...,2022-10-04,2022-10-05,2022-10-06,2022-10-10,2022-10-11,2022-10-12,2022-10-13,Present,Absent,%Att
0,A,P,P,P,P,P,P,P,P,P,...,P,P,P,P,P,P,P,37,5,88.0
1,P,P,P,P,P,A,P,A,A,P,...,P,P,P,P,A,P,P,34,8,81.0
2,P,P,A,P,P,P,P,A,P,P,...,P,P,P,P,P,P,A,37,5,88.0
3,P,P,P,P,P,P,P,P,A,P,...,P,A,P,P,P,P,A,38,4,90.0
4,P,P,P,P,P,A,P,P,A,P,...,P,P,P,P,P,P,P,36,6,86.0
5,A,P,A,P,P,P,P,P,P,P,...,P,P,A,P,P,P,P,34,8,81.0
6,P,P,A,P,A,P,P,P,P,P,...,P,P,A,P,P,P,P,34,8,81.0
7,P,P,P,P,P,P,P,P,P,P,...,P,A,P,P,A,P,P,39,3,93.0
8,A,P,P,P,P,P,A,P,P,P,...,P,P,P,P,P,P,P,35,7,83.0
9,P,P,P,P,P,P,P,P,P,P,...,A,P,P,P,A,P,P,36,6,86.0
10,P,P,P,P,P,P,P,P,A,P,...,P,P,A,P,A,P,P,37,5,88.0
11,P,P,P,P,P,P,P,P,P,P,...,P,P,P,P,A,A,P,37,5,88.0
12,P,P,P,P,P,P,P,P,P,P,...,P,P,P,P,P,P,P,38,4,90.0
13,A,P,A,P,P,P,P,P,P,P,...,P,A,P,P,P,P,P,33,9,79.0
14,P,P,P,P,P,P,P,P,P,P,...,P,P,P,A,P,P,P,38,4,90.0
15,P,P,A,P,P,P,P,P,P,A,...,P,P,A,P,P,P,P,35,7,83.0
16,A,P,P,P,P,P,P,P,P,P,...,P,A,P,P,P,A,A,34,8,81.0
17,P,P,P,P,P,P,P,P,P,P,...,A,P,P,A,P,P,P,33,9,79.0
18,P,P,P,P,P,P,P,A,P,P,...,A,P,P,P,A,A,P,35,7,83.0
19,P,P,A,P,P,P,P,P,P,A,...,P,P,P,P,P,P,P,34,8,81.0
20,P,A,P,P,P,P,P,P,P,P,...,P,P,P,P,P,P,A,37,5,88.0
21,P,P,P,A,P,P,P,P,P,P,...,P,P,P,P,P,P,P,40,2,95.0
22,P,P,P,P,A,P,P,P,P,P,...,A,P,P,P,P,P,P,37,5,88.0

In [14]:
d1 = pd.concat([df, sem_students_attendance(df.shape[0], 2022, '2022-08-01', '2022-10-13')], axis = 1)
d1 = d1.set_index("Roll No")
d1.to_excel("D:\\Downloads\\New folder\\2022-23\\SEM_ATT_SEM_I.xlsx")
d1.to_csv("SEM_ATT_SEM_I.csv")

In [15]:
d1

,Name of Student,2022-08-01,2022-08-02,2022-08-03,2022-08-04,2022-08-09,2022-08-10,2022-08-11,2022-08-16,2022-08-17,...,2022-10-04,2022-10-05,2022-10-06,2022-10-10,2022-10-11,2022-10-12,2022-10-13,Present,Absent,%Att
Roll No,,,,,,,,,,,,,,,,,,,,,
T5001,Aman Govind,P,P,A,P,P,P,P,P,P,...,A,P,P,A,P,P,P,35,7,83.0
T5002,Barve Harshvardhan Vijay,P,P,P,P,P,A,P,P,A,...,P,A,P,P,A,P,A,34,8,81.0
T5003,Bhosale Harshad Ramchandra,P,P,P,P,A,A,P,P,P,...,P,P,A,P,P,P,A,32,10,76.0
T5004,Deshmukh Abhishek Subhashrao,P,A,A,P,P,P,P,A,P,...,P,A,P,P,P,P,P,36,6,86.0
T5005,Dhamale Piyush Shivajirao,P,P,P,P,P,P,P,P,A,...,P,P,P,A,P,P,P,33,9,79.0
T5006,Ghule Gaurav Sandeep,P,P,P,P,P,P,P,P,P,...,P,P,P,A,P,P,P,39,3,93.0
T5007,Gorhe Swamiraj Ramesh,P,P,P,P,P,P,P,P,P,...,P,P,P,A,P,P,P,36,6,86.0
T5008,Gosavi Durvangee Sadanand,P,P,P,P,A,P,P,P,P,...,P,P,A,P,P,A,P,34,8,81.0
T5009,Inamdar Amaan Amir,P,P,P,P,P,P,P,P,P,...,P,P,P,P,P,P,P,38,4,90.0
T5010,Jambhale Prathamesh Sanjay,P,P,A,P,P,P,P,P,P,...,P,P,P,A,P,P,P,38,4,90.0
T5011,Kadam Omkar Rajesh,A,P,P,P,P,P,P,P,A,...,P,P,P,P,P,P,A,35,7,83.0
T5012,Kulkarni Aditya Shivram,P,P,P,A,P,P,P,P,P,...,P,P,P,P,P,A,A,36,6,86.0
T5013,Kutwade Vaibhav Anil,P,A,A,P,P,P,P,P,P,...,P,P,P,P,A,P,P,37,5,88.0
T5014,Parth Raghunath Sawardekar,P,P,P,P,P,P,P,P,P,...,P,P,P,P,P,P,A,37,5,88.0
T5015,Phulsundar Piyush Mahendra,P,P,P,A,P,P,P,P,P,...,A,A,P,P,P,A,P,35,7,83.0
T5016,Qureshi Moinuddin Yunus,P,P,P,P,P,P,P,P,A,...,P,A,P,P,P,P,P,38,4,90.0
T5017,Sanket Sharad Satyapal,P,P,P,P,P,P,P,P,P,...,P,A,A,P,A,P,P,36,6,86.0
T5018,Saraf Shreyas Sandip,P,P,A,A,P,P,P,A,P,...,P,A,A,A,A,P,P,30,12,71.0
T5019,Sonavane Yashodhan Vikas,P,P,P,P,A,P,P,P,P,...,P,P,P,P,P,P,A,31,11,74.0
T5020,Thube Prajwal Vasant,P,P,A,P,P,P,A,P,P,...,P,P,P,P,P,P,A,35,7,83.0
T5021,Vanjari Vaibhav Vinod,P,P,P,P,P,P,P,P,A,...,P,P,P,P,P,P,P,34,8,81.0
T5022,Wakode Amol Mukunda,A,P,P,P,P,P,P,P,P,...,P,P,A,P,P,P,P,36,6,86.0
T5023,Wani Ashok Rameshwar,P,P,P,A,P,P,P,P,P,...,A,P,P,P,P,A,P,33,9,79.0

In [16]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def lab_students_att_a(n, start_year, start_date, end_date):
    
    students = range(n)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Fri', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [ ]:
d2 = pd.concat([df, lab_students_att_a(df.shape[0], 2022, '2022-08-01', '2022-10-13')], axis = 1)
d2 = d2.set_index("Roll No")
d2.to_excel("D:\\Downloads\\New folder\\2022-23\\BATCH_A_SEM_I.xlsx")
d2.to_csv("BATCH_A_SEM_I.csv")