In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("D:\Downloads\Roll Call SE, TE _ BE Mech AY 2020-21 (1).xlsx")

In [3]:
df['Name of Student'] = [i.title() for i in df['Name of Student']]

In [4]:
df.head()

   Roll No                Name of Student
0     4201         Kshirsagar Rohan Umesh
1     4202  Kshirsagar Saurabh Bhaskarrao
2     4203        Kulkarni Chinmay Sudhir
3     4204       Kulkarni Vedant Shrikant
4     4205          Kumkar Yadnesh Vishnu

In [5]:
df.columns

Index(['Roll No', 'Name of Student'], dtype='object')

In [6]:
df.shape

(65, 2)

In [7]:
df.to_csv("BE-2[20-21].csv")

**SEMESTER ATTENDANCE**

In [8]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def sem_students_attendance(n, start_year, start_date, end_date):

    students = range(n)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Mon Thu Fri', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime('%Y-%m-%d')
    


    attendance_records1 = {}
    
    for student in students:
        attendance_records1[student] = []
        
        for day in date_range:
            attendance_records1[student].append('P' if random.random() < 0.85 else 'A')
                
    df = pd.DataFrame.from_dict(attendance_records1, orient='index', columns=date_range)
    df['Present'] = df.apply(lambda x: x[x == 'P'].count(), axis=1)
    df['Absent'] = df.apply(lambda x: x[x == 'A'].count(), axis=1)
    df['%Att'] = round(df['Present'] / len(date_range) * 100)
     
    return df

In [9]:
d1 = pd.concat([df, sem_students_attendance(df.shape[0], 2020, '2020-08-06', '2020-11-20')],axis=1)
d1 = d1.set_index('Roll No')
d1.to_excel("D:\\Downloads\\New folder\\2020-21\\SEM_I\\SEM_ATT.xlsx")
d1.to_csv("SEM_ATT.csv")

**FIRST MONTH ATTENDANCE**

In [10]:
d2 = pd.concat([df, sem_students_attendance(df.shape[0], 2020, '2020-08-06', '2020-09-06')],axis=1)
d2 = d2.set_index('Roll No')
d2.to_excel("D:\\Downloads\\New folder\\2020-21\\SEM_I\\FIRST_MONTH_ATT.xlsx")
d2.to_csv("FIRST_MONTH_ATT.csv")

**SECOND MONTH ATTENDANCE**

In [11]:
d3 = pd.concat([df, sem_students_attendance(df.shape[0], 2020, '2020-09-07', '2020-10-07')],axis=1)
d3 = d3.set_index('Roll No')
d3.to_excel("D:\\Downloads\\New folder\\2020-21\\SEM_I\\SECOND_MONTH_ATT.xlsx")
d3.to_csv("SECOND_MONTH_ATT.csv")