In [33]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_excel("D:\Downloads\Roll Call SE, TE _ BE Mech AY 2020-21 (1).xlsx")

In [35]:
df['Name of Student'] = [i.title() for i in df['Name of Student']]

In [36]:
df.head()

   Roll No                Name of Student
0     4201         Kshirsagar Rohan Umesh
1     4202  Kshirsagar Saurabh Bhaskarrao
2     4203        Kulkarni Chinmay Sudhir
3     4204       Kulkarni Vedant Shrikant
4     4205          Kumkar Yadnesh Vishnu

In [37]:
df.shape

(65, 2)

In [38]:
df.to_csv("BE-2[20-21].csv")

**SEMESTER ATTENDANCE**

In [39]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

def te_students_attendance11(n, start_date, end_date):
    
    students = range(n)
    
    cal = USFederalHolidayCalendar()
    holidays = cal.holidays(start=start_date, end=end_date)
    
    custom_business_day = CustomBusinessDay(weekmask='Mon Thu Fri', holidays=holidays)

    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day)
    
    attendance_records1 = {}
    
    for student in students:
        attendance_records1[student] = []
        
        for day in date_range:
            attendance_records1[student].append('P' if random.random() < 0.85 else 'A')
                
    df = pd.DataFrame.from_dict(attendance_records1, orient='index', columns=date_range)
    df['Present'] = df.apply(lambda x: x[x == 'P'].count(), axis=1)
    df['Absent'] = df.apply(lambda x: x[x == 'A'].count(), axis=1)
    df['%Att'] = round(df['Present'] / len(date_range) * 100,2)
    df['UT1'] = [random.randint(10,30) for i in range(0,n)]
    df['PREL'] = [random.randint(26, 65) for i in range(0, n)]
     
    return df

In [40]:
sem_att = pd.concat([df, te_students_attendance11(df.shape[0], '2020-08-06', '2020-10-29')],axis=1)
sem_att

,Roll No,Name of Student,2020-08-06 00:00:00,2020-08-07 00:00:00,2020-08-10 00:00:00,2020-08-13 00:00:00,2020-08-14 00:00:00,2020-08-17 00:00:00,2020-08-20 00:00:00,2020-08-21 00:00:00,...,2020-10-19 00:00:00,2020-10-22 00:00:00,2020-10-23 00:00:00,2020-10-26 00:00:00,2020-10-29 00:00:00,Present,Absent,%Att,UT1,PREL
0,4201,Kshirsagar Rohan Umesh,P,P,A,P,P,P,P,A,...,P,P,P,P,P,31,4,88.57,10,61
1,4202,Kshirsagar Saurabh Bhaskarrao,P,P,P,A,P,P,A,P,...,P,P,P,P,P,30,5,85.71,17,38
2,4203,Kulkarni Chinmay Sudhir,P,P,P,P,P,P,A,A,...,A,P,P,P,P,29,6,82.86,13,41
3,4204,Kulkarni Vedant Shrikant,P,P,P,A,P,P,P,P,...,A,P,P,P,P,30,5,85.71,18,65
4,4205,Kumkar Yadnesh Vishnu,A,P,P,P,A,A,P,P,...,P,P,P,P,P,30,5,85.71,30,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,4261,Kulkarni Sushil Nandkumar,P,P,A,P,A,P,A,P,...,P,P,P,A,A,22,13,62.86,21,53
61,4262,Saurabh Parmeshwar Borude,P,P,P,P,A,P,A,P,...,P,P,P,P,A,28,7,80.00,11,53
62,4263,Suyesh Laxmikant Pillewar,P,P,P,A,P,A,P,P,...,P,P,P,P,P,27,8,77.14,22,50
63,4264,Jungade Pranav Prashant,P,P,P,P,P,P,P,A,...,A,P,P,P,P,28,7,80.00,15,42
64,4265,Sanjay Pandey,P,P,A,P,P,P,P,P,...,P,A,P,P,P,29,6,82.86,19,46

**SEMESTER ATTENDANCE**

In [41]:
sem_att = pd.concat([df, te_students_attendance123(len(df), '2020-08-06', '2020-10-29')],axis = 1)
sem_att.to_csv("Sem_Att.csv")

**FIRST MONTH ATTENDANCE**

In [42]:
month_1 = pd.concat([df, te_students_attendance11(len(df), '2020-08-06', '2020-09-06')],axis = 1)
month_1.to_csv("Fisrt_Month_Att.csv")

In [43]:
month_1.head()

,Roll No,Name of Student,2020-08-06 00:00:00,2020-08-07 00:00:00,2020-08-10 00:00:00,2020-08-13 00:00:00,2020-08-14 00:00:00,2020-08-17 00:00:00,2020-08-20 00:00:00,2020-08-21 00:00:00,...,2020-08-27 00:00:00,2020-08-28 00:00:00,2020-08-31 00:00:00,2020-09-03 00:00:00,2020-09-04 00:00:00,Present,Absent,%Att,UT1,PREL
0,4201,Kshirsagar Rohan Umesh,P,P,P,P,P,P,P,P,...,P,P,P,P,P,14,0,100.00,26,52
1,4202,Kshirsagar Saurabh Bhaskarrao,A,P,P,P,P,P,P,P,...,P,P,P,P,P,12,2,85.71,26,60
2,4203,Kulkarni Chinmay Sudhir,P,P,A,P,P,P,P,P,...,P,P,A,A,P,11,3,78.57,17,46
3,4204,Kulkarni Vedant Shrikant,P,P,P,P,P,P,P,P,...,P,P,A,P,P,13,1,92.86,18,54
4,4205,Kumkar Yadnesh Vishnu,A,P,P,P,P,P,P,A,...,A,P,P,P,P,11,3,78.57,22,54

In [44]:
month_2 = pd.concat([df, te_students_attendance11(len(df), '2020-09-07', '2020-10-07')],axis = 1)
month_2.to_csv("Second_Month_Att.csv")

In [45]:
month_2.head()

,Roll No,Name of Student,2020-09-10 00:00:00,2020-09-11 00:00:00,2020-09-14 00:00:00,2020-09-17 00:00:00,2020-09-18 00:00:00,2020-09-21 00:00:00,2020-09-24 00:00:00,2020-09-25 00:00:00,2020-09-28 00:00:00,2020-10-01 00:00:00,2020-10-02 00:00:00,2020-10-05 00:00:00,Present,Absent,%Att,UT1,PREL
0,4201,Kshirsagar Rohan Umesh,P,P,P,P,P,P,P,P,A,P,P,P,11,1,91.67,11,56
1,4202,Kshirsagar Saurabh Bhaskarrao,P,P,P,A,P,P,P,A,P,P,P,P,10,2,83.33,13,53
2,4203,Kulkarni Chinmay Sudhir,P,P,P,P,P,P,P,P,A,A,P,A,9,3,75.00,20,62
3,4204,Kulkarni Vedant Shrikant,A,P,P,P,P,P,P,P,P,P,P,P,11,1,91.67,29,50
4,4205,Kumkar Yadnesh Vishnu,P,P,P,P,P,P,P,P,P,P,A,P,11,1,91.67,16,26