In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("D:\\Downloads\\New folder\\2021-22\\BE_II.xlsx")
df.head()

   Roll No            Name of Student
0     4201    AMBAD RUSHIKESH SUBHASH
1     4202         PHAPALE AMOL GULAB
2     4203  ANGRE SOHAM HARISHCHANDRA
3     4204      ATTARDE SANKET DAGADU
4     4205      BANSODE PRATIK SANJAY

In [3]:
df['Name of Student'] = [i.title() for i in df['Name of Student']]

In [4]:
df.head()

   Roll No            Name of Student
0     4201    Ambad Rushikesh Subhash
1     4202         Phapale Amol Gulab
2     4203  Angre Soham Harishchandra
3     4204      Attarde Sanket Dagadu
4     4205      Bansode Pratik Sanjay

In [ ]:
df.to_csv("BE-2.csv")

**BATCH A PRACTICAL ATTENDANCE**

In [5]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def lab_students_att_a(n, start_year, start_date, end_date):
    
    students = range(0,20)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Tue', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [6]:
d1 = pd.concat([df[:20], lab_students_att_a(20, 2021, '2021-06-21', '2021-11-30')],axis=1)
d1 = d1.set_index("Roll No")
d1.to_excel("D:\\Downloads\\New folder\\2021-22\\SEM_I\\BATCH_2A.xlsx")
d1.to_csv("BATCH_2A_.csv")

**BATCH B PRACTICAL ATTENDANCE**

In [7]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def lab_students_att_b(n, start_year, start_date, end_date):
    
    students = range(20, 40)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Mon', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [8]:
d2 = pd.concat([df[20:40], lab_students_att_b(20, 2021, '2021-06-21', '2021-11-30')],axis=1)
d2 = d2.set_index("Roll No")
d2.to_excel("D:\\Downloads\\New folder\\2021-22\\SEM_I\\BATCH_2B.xlsx")
d2.to_csv("BATCH_2B_.csv")

**BATCH C PRACTICAL ATTENDANCE**

In [9]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def lab_students_att_c(n, start_year, start_date, end_date):
    
    students = range(40, 60)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Thu', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [10]:
d3 = pd.concat([df[40:60], lab_students_att_c(20, 2021, '2021-06-21', '2021-11-30')],axis=1)
d3 = d3.set_index("Roll No")
d3.to_excel("D:\\Downloads\\New folder\\2021-22\\SEM_I\\BATCH_2C.xlsx")
d3.to_csv("BATCH_2C_.csv")